{
  "openapi": "3.1.0",
  "info": {
    "title": "ipify API",
    "description": "A simple public IP address API, easy to integrate into any application in seconds.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.ipify.org"
    },
    {
      "url": "https://api64.ipify.org"
    }
  ],
  "paths": {
    "/": {
      "parameters": [
        {
          "$ref": "#/components/parameters/format"
        }
      ],
      "get": {
        "operationId": "GetIP",
        "responses": {
          "200": {
            "$ref": "#/components/responses/IPResponse"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "IPWrapper": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string",
            "format": "ipv4",
            "example": "89.39.107.192"
          }
        },
        "required": [
          "ip"
        ],
        "example": {
          "ip": "89.39.107.192"
        }
      }
    },
    "responses": {
      "IPResponse": {
        "description": "Returns the IP address of the requester.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/IPWrapper"
            },
            "example": {
              "ip": "89.39.107.192"
            }
          }
        }
      }
    },
    "parameters": {
      "format": {
        "name": "format",
        "in": "query",
        "schema": {
          "type": "string",
          "example": "json"
        },
        "example": "json"
      }
    }
  },
  "externalDocs": {
    "description": "API documentation",
    "url": "https://www.ipify.org/"
  }
}